.movie-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}


.movie-list-item {
    margin: 10px 0 10px 10px;
}
.image {
    text-align: center;
}

.title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.date {
    font-size: 12px;
    margin: 0 0 10px 0;
}
@media (max-width: 500px) {
    .movie-list {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr;
    }
    .movie-list-item {
        margin: 0;
    }
}